/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
html,
body {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  background-color: #f4f7fa; }

* {
  box-sizing: border-box; }

button, input, textarea {
  outline: none; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.ttf?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
.header {
  width: 100%;
  height: 80px;
  background-color: #00a4a7;
  box-shadow: 0 2px 5px 0 #ccd2db; }

.header__title {
  position: relative;
  top: 35%;
  margin: auto auto;
  max-width: 95%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.header__profilePicture {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 50px;
  height: 50px;
  box-shadow: 0 10px 20px 0 #7f8fa4;
  border: solid 3px #ffffff;
  border-radius: 30px;
  object-fit: cover;
  background-color: #d8d8d8; }

.manage__add {
  position: absolute;
  bottom: 45px;
  right: 45px;
  width: 90px;
  height: 90px;
  object-fit: contain; }

.manage__edit {
  height: fit-content;
  width: 85%;
  margin: 5% auto; }

.manage__editPicture {
  width: 125px;
  height: 125px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
  border: solid 3px #ffffff; }

.manage__editPic {
  position: absolute;
  top: 40%;
  left: 33%; }

.manage__editContainer {
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 125px;
  height: 125px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
  border: solid 3px #ffffff;
  background-repeat: no-repeat;
  background-size: cover; }

.manage__editContainer-hover {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to bottom, transparent, black); }

.manage__editContainer-placeholder {
  background-color: #D8D8D8; }

.manage__editLink {
  text-decoration: none; }

.manage__editDefault {
  position: absolute;
  top: 90%;
  left: 15%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(0%, -80%);
  -ms-transform: translate(0%, -80%);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  color: white; }

.manage__editContainer:hover .manage__editDefault {
  opacity: 1; }

.manage__editContainer:hover .manage__editContainer-hover {
  opacity: 1; }

.uploadForm {
  position: relative;
  z-index: -5; }

.deleteForm {
  display: inline-block; }

.overlay {
  background: rgba(159, 160, 162, 0.8);
  filter: alpha(opacity=80);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: none; }

.popup {
  position: absolute;
  z-index: 200;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  display: none; }
  @media screen and (max-width: 800px) {
    .popup {
      top: 5%; } }

.popup__rectangle {
  width: 700px;
  height: 300px;
  border-radius: 8px;
  background-color: #f4f7fa; }
  @media screen and (max-width: 800px) {
    .popup__rectangle {
      width: 400px;
      height: 550px; } }

.rectanglePicture {
  height: 230px;
  margin: 30px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
  border: solid 3px #ffffff; }
  @media screen and (max-width: 800px) {
    .rectanglePicture {
      margin: 30px 80px 30px 80px; } }

.popup__closeButton {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 71px;
  height: 71px;
  object-fit: contain; }

.popup__actions {
  float: right; }

.action {
  width: 163px;
  height: 50px;
  border-radius: 4px;
  border: none;
  margin: 10px 0 0 10px; }
  .action:hover {
    transition: .2s ease;
    box-shadow: 0px 2px 3px grey; }

.actionEdit {
  background-color: #00a4a7; }

.actionDelete {
  background-color: #fe206b; }

.actionSpan {
  font-size: 16px;
  color: #ffffff;
  vertical-align: middle; }

.actionPic {
  width: 20px;
  vertical-align: middle;
  height: 20px;
  margin: 5px; }

.editForm {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-left: 15px; }
  @media screen and (max-width: 800px) {
    .editForm {
      width: 100%;
      padding-left: 30px; } }

.editForm__labelTitle {
  font-size: 24px;
  position: relative;
  top: 50px;
  left: 0;
  color: #8094a1; }

.editForm__inputTitle {
  border-bottom: 1px solid #ccd2db;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 24px;
  color: #8094a1;
  margin: 25px 0 25px 0;
  width: 320px; }
  @media screen and (max-width: 800px) {
    .editForm__inputTitle {
      margin: 0 0 25px 0; } }

.editForm__labelDescribe {
  color: #8094a1; }

.editForm__inputDescribe {
  width: 320px;
  height: 150px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #ccd2db;
  margin: 10px 5px 10px 5px;
  font-size: 22px;
  color: #8094a1; }

/*# sourceMappingURL=style.css.map */
