@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.ttf') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}