.manage__add{
  position: absolute;
  bottom: 45px;
  right: 45px;
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.manage__edit{
  height: fit-content;
  width: 85%;
  margin: 5% auto;
}

.manage__editPicture{
  width: 125px;
  height: 125px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
  border: solid 3px #ffffff;
}

.manage__editPic{
  position: absolute;
  top: 40%;
  left: 33%;
}

.manage__editContainer{
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 125px;
  height: 125px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(127, 143, 164, 0.6);
  border: solid 3px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.manage__editContainer-hover{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.manage__editContainer-placeholder{
  background-color: #D8D8D8;
}

.manage__editLink{
  text-decoration: none;
}

.manage__editDefault {
  position: absolute;
  top: 90%;
  left: 15%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-0%, -80%);
  -ms-transform: translate(-0%, -80%);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.manage__editContainer:hover .manage__editDefault {
  opacity: 1;
}

.manage__editContainer:hover .manage__editContainer-hover {
  opacity: 1;
}

// forms
.uploadForm{
  position: relative;
  z-index: -5;
}

.deleteForm{
  display: inline-block;
}